@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  background: #404040;
  --neonPurple: '#A200FF';
  --neonBlue: '#00BFFF';
}

body {
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

@font-face {
  font-family: 'Dystopian';
  src: url('/src/fonts/dystopian.otf');
}

@font-face {
  font-family: 'Ryzes';
  src: url('/src/fonts/ryzes.ttf');
}

@font-face {
  font-family: 'Cyberwar';
  src: url('/src/fonts/cyberwar.ttf');
}

.font-dystopian {
  font-family: 'Dystopian';
}

.font-ryzes {
  font-family: 'Ryzes';
}

.font-cyberwar {
  font-family: 'Cyberwar';
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

@keyframes glitch {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  20% {
    transform: translate(-2px, 2px);
    opacity: 0.8;
  }
  40% {
    transform: translate(2px, -2px);
    opacity: 0.6;
  }
  60% {
    transform: translate(-2px, 2px);
    opacity: 0.4;
  }
  80% {
    transform: translate(2px, -2px);
    opacity: 0.2;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
  
  .glitch {
    position: relative;
    color: white;
    font-weight: bold;
    text-shadow:
      -1px -1px 0 #ff00ff,
      1px -1px 0 #00ffff,
      -1px 1px 0 #ffff00,
      1px 1px 0 #ff00ff;
    animation: glitch 1s infinite linear alternate;
  }